@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    margin-top: 20px;


}

.container {
    background-color: white;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d-flex {
    margin: 5%;
}

.palo,.numero {
    font-size: 400%;
}

.div2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}